@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body{
  background: url('https://images.unsplash.com/photo-1517502884422-41eaead166d4?q=80&w=1450&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
  height: 100vh;
  background-attachment: fixed;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: rgb(109, 109, 109);
  border-radius: 5px;
}
::selection{
  background: #585858;
  color: #ffffff;
}
nav{
  z-index: 9;
}